.font-primary {
  font-family: "Inter", sans-serif;
}

.font-secondary {
  font-family: "Josefin Sans", sans-serif;
}

.text-red-600 {
  color: #dc2626!important;
}

.bg-red-600 {
  background-color: #dc2626!important;
}
